{% extends 'base.html' %}
{% block title %}Edit{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
      <h4>Update To-Do</h4>
      <form action="" method="POST">
        {% csrf_token %}
        {{obj.as_p}}
        <input type="submit" class="btn btn-success" value="Submit">
        {% comment %} <a href="/" class="btn btn-info</a> {% endcomment %}
        {% comment %} <a href="/" <input type="submit" class="btn btn-sm btn-success" value="Submit">Submit</a> {% endcomment %}
        <a href="/" class="btn btn-info">Back To Home</a>
      </form>
    </div>
</div>
{% endblock content %}